@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
body{ 
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: none;
  background-image: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  background: black;
  color: white;
  a {
    color: green; /* Set the color for links */
  }
}

@media screen and (max-width: 600px) {
    /* Styles for tablets and smaller devices */
  }
  
  @media screen and (max-width: 480px) {
    /* Styles for smartphones */
  }

  @media screen and (max-width: 320px) {
    /* Styles for very small devices */
  }

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  text-align: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #f90000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: black;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: black;
  color: white;
}

/* Flex container for the body content */
#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 5px;
  max-width: 590px; /* Set a max width for the container */
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  border: white solid 1px;
}

/*BLOG BEGINS*/
@media (max-width: 100%) {
  #blog-container {
    width: 100%;
    height: 250px;
    margin: 0px;
    position: center;
    padding-bottom: 0px;
  }

  #current-post {
    font-size: 12px;
  }

  .post-header h4 {
    font-size: 14px;
  }
}

/* Header styling */
#main-header {
  text-align: center;
  margin-bottom: 0%;
}

/* Image container with button hover */
#image-container {
  position: relative;
  text-align: center;
  margin-bottom: 1%;
  border-radius: 10px;
  overflow: hidden;
  border: white solid 1px;
  width: 90%; /* Ensure it takes full width of the parent container */
}

#myBtn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

#link-container{
  position: relative;
  text-align: center;
  margin-bottom: 1%;
  border-radius: 10px;
  overflow: hidden;
  border: white solid 1px;
  width: 90%;
}

#content-container {
  position: relative;
  display: flex;
  flex: 1; /* Allow the container to grow and fill the space */
  justify-content: space-between;
  margin-bottom: 1%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 90%;
}

#content-container2 {
  position: relative;
  display: flex;
  flex: 1; /* Allow the container to grow and fill the space */
  justify-content: space-between;
  margin-bottom: 1%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 90%;
}

#blog-container {
  position: relative;
  flex: 1;
  margin-right: 0.5%;
  width: 100%;
  height: 250px; /* Adjust as needed */
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  font-family: "Courier New", "monospace",;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-self: auto;
  background-color: rgb(241, 241, 241);
  color: black;
}

#gumroad-container {
  position: relative;
  flex: 1;
  margin-left: 0.5%;
  justify-content: center;
  overflow: hidden;
  overflow: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px; /* Adjust as needed */
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  font-family: "Roboto Mono", monospace;
  background: linear-gradient(to bottom, rgb(97, 1, 97), black);
  color: black;
}

.product-container {
  position: relative;
  flex: 1;  
  justify-content: center;
  text-align: center;
  font-size: smaller;
  font-family: "Roboto Mono", "monospace",;
  overflow: hidden;
  overflow: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px; 
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  font-family: "Roboto Mono", monospace;
  background: linear-gradient(to bottom, rgb(97, 1, 97), black);
  color: rgb(255, 255, 255);

}

#message-container {
  position: relative;
  text-align: center;
  margin-bottom: 1%;
  border-radius: 10px;
  overflow: hidden;
  border: white solid 1px;
  width: 90%; /* Ensure it takes full width of the parent container */
}

#optin-container {
  position: relative;
  text-align: center;
  margin-bottom: 1%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 500px; /* Adjust as needed */
  border: white solid 1px;
  width: 90%; /* Ensure it takes full width of the parent container */
}

#social-container {
  position: relative;
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin-top: 0px;
}

#social-container a img {
  transition: transform 0.3s ease;
}

#social-container a img:hover {
  transform: scale(1.2);
}

#current-post {
  height: calc(100% - 30px); /* Adjust based on arrow size */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
}

.post-header {
  display: top;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0px;
}

.post-header h4  {
  margin: 0;
  font-weight: bold;
  font-size: 1.2em;
}

.date {
  display: match-parent;
  font-style: baseline;
  color: #666;
  text-align: right;
  align-self: center;
}

.content {
  font-size: 0.8em;
  line-height: 1.0;
  text-align: center;
}

#scroll-down, #scroll-up {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  font-size: 8px;
  cursor: pointer;
  z-index: 10;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease; /* Smooth fade-in/out */
}

#scroll-down {
  bottom: 50px; /* Adjusted position to bring it up */
}

#scroll-up {
  top: 10px; /* Positioned at the top */
}

#blog-container:hover #scroll-down,
#blog-container:hover #scroll-up {
  opacity: 1; /* Show on hover */
}

/* customizing the bullet points in the markdown */

ul, ol {
  text-align: left;
}

ul, ol {
  padding-left: 20px; /* Adjust this value as needed */
}

li {
  text-align: left;
  padding-left: 5px; /* Adjust this value to control space between bullet and text */
}

/* adding a hyperlink beneath the title in blog roll */

.post-link {
  display: inline-flex;
  font-size: 0.8em;
  color: #0066cc;
  text-decoration: underline;
  margin-bottom: 10px;
}

.post-link:hover {
  text-decoration: none;
}


